.sulbingChatPage {
    background: url(../resources/img/sulbing.jpg) no-repeat center center fixed;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 0.8;
}